# The number of milliseconds of each tick
tickTime={{ tick_time }}
# The number of ticks that the initial
# synchronization phase can take
initLimit={{ init_limit }}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ sync_limit }}
# the directory where the snapshot is stored.
# Do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir={{ zookeeper.data_dir }}
# The port at which the clients will connect
clientPort={{ client_port }}
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{ autopurge_snapRetainCount }}
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval={{ autopurge_purgeInterval }}

{% for host in groups['tag_group_name_ZookeeperServers'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:2888:3888
{% endfor %}
